<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
      <ion-back-button text="cancelar"  color="danger" defaultHref="/petprofile/{{petID}}/{{vetApproved}}"></ion-back-button>
    </ion-buttons>

    <ion-title>agregar nueva entrada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<ion-list>
    <ion-item *ngIf="!vetApproved" >
        <ion-label>Nombre del Veterinario</ion-label>
        <ion-input type="text" [(ngModel)]="vetName">
        </ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Diagnostico</ion-label>
        <ion-input type="text" [(ngModel)]="diagnosis">
        </ion-input>
    </ion-item>

    <ion-item>
        <ion-label></ion-label>
       
        <ion-textarea type="text" rows="6"  placeholder="Comentarios" [(ngModel)]="comments"></ion-textarea>
    </ion-item>

    <ion-item>
    	
		

		<ion-button 
		(click)="upload()">Upload
		</ion-button>
    <div>{{ uploadPercent | async }}</div>
    <a [href]="downloadURL | async">{{ downloadURL | async }}</a>

    	
    </ion-item>

   

  </ion-list>

  <ion-button fill="solid" expand="block" color="dark" (click)="addNewMedicalEntry()">agregar</ion-button>

</ion-content>
