<ion-header>
  <ion-toolbar>
    <ion-title>feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

	<ion-card class="petname" *ngFor= "let pet of (userPets | async)" >
	  <ion-card-header (click)="redirectPetPage(pet.id)">
	    <ion-card-title>{{pet.namePet}}</ion-card-title>
	    <ion-card-subtitle>{{pet.type}}</ion-card-subtitle>
	    <ion-card-subtitle>{{pet.gender}}</ion-card-subtitle>
	    <ion-card-subtitle>{{age(pet.birthday)}}</ion-card-subtitle>
	  </ion-card-header>

	  <ion-card-content>
	    
	  </ion-card-content>
	</ion-card>

	

</ion-content>