<ion-header>
  <ion-toolbar>
	<ion-buttons slot="start">
      <ion-button (click)="closeModal()">cerrar</ion-button>
    </ion-buttons>
    <ion-title>QR Escaneado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<ion-card class="petname" *ngFor= "let pet of (userPets | async)" >
		 <ion-card-header style="float: right; ">
	  	 <ion-avatar *ngIf="pet.pictureUri" class="item-avatar ">
		  <img src="{{ pet.pictureUri }}">
		</ion-avatar>
	  	 </ion-card-header>
	  <ion-card-content>
	  	<ion-card-title>{{pet.namePet}}</ion-card-title>
	    <ion-card-subtitle>{{pet.type}}</ion-card-subtitle>
	    <ion-card-subtitle>{{pet.gender}}</ion-card-subtitle>
	    <ion-card-subtitle>{{age(pet.birthday)}}</ion-card-subtitle>
	   

        <!--<p>{{ created_code }}</p>-->
	    
	  </ion-card-content>
	  </ion-card>

	<ion-toolbar>
  		<ion-title  class="card-title" text-left>Datos del dueño de mascota</ion-title>
	</ion-toolbar>

	  <ion-card *ngIf= "userOwnerData | async as user"  >
		
	  <ion-card-content>
	  	<ion-card-title>{{user.fullname}}</ion-card-title>
	    <ion-card-subtitle>email : {{user.email}}</ion-card-subtitle>
	     <ion-card-subtitle>telefono: {{user.telephoneNumber}}</ion-card-subtitle>
	  </ion-card-content>
	</ion-card>

	<ion-list *ngIf= "userData | async as user">
		<ion-button *ngIf= "user.vetApproved==true" (click)="addPetToVet()"> Agregar Paciente </ion-button>
	</ion-list>

</ion-content>
