 

<ion-content >
<ion-row style="height: 30px;"></ion-row>
<div class='container'>
    <img class='resize_fit_center'
      src="../assets/petcare.png"/>
</div>
<ion-row style="height: 30px;"></ion-row>
  <ion-list>

    <ion-item lines="none">
        <ion-label >Full Name</ion-label>
        <ion-input type="text" [(ngModel)]="fullname">
        </ion-input>
    </ion-item>

    <ion-item lines="none">
        <ion-label>Email Address</ion-label>
        <ion-input type="text" [(ngModel)]="email">
        </ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label >Password</ion-label>
      <ion-input type="password" [(ngModel)]="password">
      </ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label >Confirm Password</ion-label>
      <ion-input type="password" [(ngModel)]="cpassword">
      </ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label class="areaCode">Cod. Pais</ion-label>
       <ion-label > +</ion-label>
      <ion-input type="tel" pattern="[0-9]*" onKeyPress="if(this.value.length==3) return false;" [(ngModel)]="phoneNumberAreaCode" class="set-width" >
      </ion-input>
      <ion-label class="telephone">Telefono</ion-label>
      <ion-input type="tel" pattern="[0-9]*" onKeyPress="if(this.value.length==12) return false;"  [(ngModel)]="phoneNumber">
      </ion-input>
    </ion-item>

    
		<ion-item  lines="none">
			<ion-label >Soy veterinario/a</ion-label>
			<ion-checkbox  (click)="addValue($event)" [(ngModel)]="checked">
			</ion-checkbox>
		</ion-item>
	

	<ion-item *ngIf="hide"  lines="none">
		<ion-label>Matricula</ion-label>
	        	<ion-input type="text" [(ngModel)]="vetcertificate">
	        	</ion-input>
	</ion-item>

  </ion-list>

  <ion-button fill="solid" expand="full" color="favorite" (click)="register()" class="signupButton">REGISTRARSE</ion-button>

<span style="display:inline-block;width: 100%; border-bottom: 1px solid #a5a0a0; margin-bottom: 10px; margin-top: 20px;"  ></span>


  <ion-button expand="full" (click)="redirectLogin()" class="loginButton" color="none">INICIAR SESION</ion-button>

</ion-content>

